body {
  background-color: #F0FFFF; /* warna Azure */
font-family: Arial,Sans-serif; /* Jenishruf yang bersih dan mudah di baca */
color: 191970; /* Warna teks utama (Biru Gelap) */
  
  .kartu-profil{
    width: 300px;
    margin:50px auto; /* 50px jarak atas/nawah, auto menengah kiri/kanan */
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* membuat sudut menjadi melengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* Efek bayangan */
    text-align: center; /* menengah semua teks di dalam kartu */
  }
  .kartu-profil img {
    width: 150px;
    border-radius: 50%; /* trik untuk membuat gambar persegi menjadi lingakaran sempurna */
  }
